html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}

#blocker {

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);

}

#instructions {

    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;

    cursor: pointer;

}
 
#menu_bottom {
	position: absolute;
	bottom: 30px;
	width: 100%;
	height: 10%;
	text-align: center;
	padding: 0;
	margin: 0;
}

#menu_left {
	position: absolute;
	left: 20px;
	width: 120px;
	height: 80%;
	text-align: center;
	padding: 0;
	margin: 0;
}
#menu_right {
	position: absolute;
	right: 20px;
	width: 100px;
	height: 20%;
	text-align: center;
	padding: 0;
	margin: 0;
}
#menu_left button {	
	color: white;
	background: transparent;	
	padding: 5px 10px;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
	height: 15%;
	width: 100%;
}
#menu_right button {	
	color: white;
	background: transparent;	
	padding: 5px 10px;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
	height: 30px;
	width: 100%;
}
#menu_bottom  button {	
	color: white;
	background: transparent;
	padding: 5px 10px;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
	height: 100%;
	width: 150px;
}